In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [59]:
import pandas as pd

In [ ]:
filename = '/content/drive/MyDrive/CargaData/CargaML/cars.csv'
dfAutos = pd.read_csv(filename)

In [62]:
dfAutos.columns =['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'brand'] #ADD COLUMNS NAMES
dfAutos.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,brand
0,15.0,8,350.0,165,3693,11.5,70,1,buick
1,18.0,8,318.0,150,3436,11.0,70,1,plymouth
2,16.0,8,304.0,150,3433,12.0,70,1,amc
3,17.0,8,302.0,140,3449,10.5,70,1,ford
4,15.0,8,429.0,198,4341,10.0,70,1,ford

Primera opción: conjunto de datos 1

Este fue el conjunto de datos aprobado por el instructor en clases

1) Fuente de datos: Auto MPG Data Set
El dataset se obtuvo del siguiente sitio, que invita a practicar para desarrollar y mejorar nuestras habilidades como Data Scientists. En el sitio se recomendaban datasets de distintos niveles y se identificaba el uso recomendado para practicar los modelos correspondientes. 

https://code.datasciencedojo.com/datasciencedojo/datasets/tree/master/Auto%20MPG

2) Breve descripción de datos
El dataset elegido tiene 9 columnas relacionadas con distintas características que tienen los autos, considerando la marca, lugar de origen, peso, cilindrada y caballos de fuerza entre otros. Todas son características que en mayor o menos medida permiten medir el rendimiento de combustible del auto en cuestión.

3) ¿Cuál es el objetivo?
El objetivo del dataset elegido es predecir el rendimiento de combustible de un auto en base a las distintas características que puede tener. Tiene un nivel de dificultad intermedio.

4) ¿Este es un problema de clasificación o regresión?
Es un problema de regresión.

5) ¿Cuántas características hay?
Son 9 características:
1. mpg	- Millas por galón (Target)
2. cylinders	- Número de cilindros
3. displacement	- Cilindrada
4. horsepower	- Caballos de fuerza
5. weight	- Peso en libras
6. acceleration	- Tiempo de aceleración de O to 60 millas por hora (en segs)
7. model year	- Año del modelo del auto
8. origin	- Origen (1: Americano, 2: Europeo, 3: Japonés)
9. brand - Marca

6) ¿Cuántas filas de datos hay?
397 filas trae el dataset.

7) ¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos?
El reto en la modelización de este problema es que los autos hoy en día tienen otras características que tienen que ver con las mejoras que se le han hecho a los motores que hacen que autos más pesados tengan rendimientos más económicos que autos más livianos pero con menor tecnología. Además, es importante mencionar también que el toque es una característica relevante que se debiera haber considerado pero lamentablemente no está incluida en el dataset.

In [60]:
filename = '/content/drive/MyDrive/CargaData/CargaML/transfusion.csv'
dfTransfusion = pd.read_csv(filename)

In [61]:
dfTransfusion.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

Segunda opción: conjunto de datos 2

1) Fuente de datos
Blood Transfusion Service Center Data Set
Del mismo sitio se obtuvo el siguiente dataset, con información sobre donantes de sangre. Es un dataset de nivel intermedio.
https://code.datasciencedojo.com/datasciencedojo/datasets/tree/master/Blood%20Transfusion%20Service%20Center

2) Breve descripción de datos
Los datos tienen relación con las características de un grupo de donantes de sangre.

3) ¿Cuál es el objetivo?
Indicar si estos donantes donaron sangre en una fecha determinada.

4) ¿Este es un problema de clasificación o regresión?
Es un problema de clasificación.

5) ¿Cuántas características hay?
Hay 5 características.

6) ¿Cuántas filas de datos hay?
1. Recency (months) - Cantidad de meses desde la última vez que donó
2. Frequency (times) - Número total de donaciones de sangre que ha hecho la persona
3. Monetary (c.c. blood) - Cantidad de sangre donada en CC.
4. Time (months) - Cantidad de meses desde la primera donación que hizo
5. whether he/she donated blood in March 2007 - Indicador si donó o no en marzo 2007 (Target) 

7) ¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos?
En el conjunto de datos no se considera el sexo del donante, dato importante ya que las mujeres pueden donar sangre un máximo de 3 veces en un período de 12 meses y los hombres pueden donar un máximo 4 veces en el mismo período. Tampoco se consideran las reacciones vasovagales que pudo haber experimentado esa persona, las que podrían influir en su decisión de donar nuevamente sangre.